<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/11b91cfe01.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/main.css">
</head>


<body>
<div class="container-fluid  d-flex flex-column full-h">
    
    <div class="">
    {% block content %}
    {% endblock%}
    </div>

    <div class="flex-grow-1 w-100 d-flex align-items-end justify-content-around justify-content-sm-center">
        
        <div class="links p-2 mx-2">
        <a href="https://www.linkedin.com/in/krnk97/" class="text-decoration-none text-reset text-secondary">
        <span style="font-size: 2em; color:#23272B;"><i class="fab fa-linkedin"></i></span></a></a>
        </div>

        <div class="links p-2 mx-2 text-decoration-none">
        <a href="https://github.com/KRNK97" class="text-decoration-none text-reset text-secondary">
        <span style="font-size: 2em; color: #23272B;"><i class="fab fa-github"></i></span></a></a>
        </div>

        <div class="links p-2 mx-2 text-decoration-none">
        <a href="https://www.instagram.com/_krnk97/" class="text-decoration-none text-reset text-secondary">
        <span style="font-size: 2em; color: #23272B;"><i class="fab fa-instagram"></i></span></a>
        
        </div>
    
        
       
    </div>
</div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</body>
</html>