{% extends 'base.html' %}

{% block content %}

    <div class="container mt-4 d-flex  flex-column">
    <div class="d-flex  justify-content-center p-2">
    <img src="../static/merc.png" alt="" class="main-img img-fluid">
    </div>

    <div class="text-center  p-4 rounded  text-dark mt-4 mb-2">
        <h1 class="">Thanks! Your feedback is very important for us.</h1>
    </div>
    <a href="/" class="align-self-center p-2 h5 btn btn-outline-dark btn-block">Back</a>
    </div>

{% endblock %}


